 div{
 	height: 200px;
	width: 200px;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 7px;
 	border-radius: 10px 10px;
 }
.box1{
	
	background-color: yellow;
}
  .box3{
 	background-color: green;
 }
  .box4{
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  animation-name: roll;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  }

  @keyframes roll {
  0% {
    transform: translate(0px);
    background-color: red;
  }
  30%{
  	transform: translateX(500px) rotate(180deg);
    background-color: gray;
    }
    60%{
    transform: translateX(-500px) rotate(-180deg);
    background-color: blue;
    }

    
}

